<h1 id="tableLabel">Vehicles CRUD</h1>
<p>This component Reads, Updates, Creates and Delete Vehicles.</p>
<p *ngIf="!vehicles"><em>Loading...</em></p>
<!-- {{ vehicles | json }} -->
{{ vehicle | json }}

<div *ngIf="showForm">
  <label for="color">Color</label><br>
  <input type="color" class="form-control" [(ngModel)]="vehicle.color"><br>
  <label for="year">Year</label><br>
  <input type="number" class="form-control" [(ngModel)]="vehicle.year"><br>
  <label for="manufacturer">Manufacturer</label><br>
  <input type="text" class="form-control" [(ngModel)]="vehicle.manufacturer"><br>
  <label for="mileage">Mileage</label><br>
  <input type="number" class="form-control" [(ngModel)]="vehicle.mileage"><br>
  <button class="btn btn-primary mb-2 " (click)="save()"*ngIf="!hideButton">Save</button>
  <button class="btn btn-primary mb-2 " (click)="update(saveId)" *ngIf="hideButton">Edit</button>
  <button class="btn btn-danger mb-2 mx-3" (click)="refresh()">Cancel</button>
</div>
<button *ngIf="!showForm" class="btn btn-success mb-2" (click)="showForm = true">New</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="vehicles">
  <thead>
    <tr>
      <th>Id</th>
      <th>Color</th>
      <th>Year</th>
      <th>Manufacturer</th>
      <th>Mileage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{ vehicle.id }}</td>
      <td>{{ vehicle.color }}</td>
      <td>{{ vehicle.year }}</td>
      <td>{{ vehicle.manufacturer }}</td>
      <td>{{ vehicle.mileage }}</td>
      <td><button class="btn btn-warning mx-4" (click)="edit([vehicle.id,vehicle.color,vehicle.year,vehicle.manufacturer,vehicle.mileage])">Edit</button><button class="btn btn-danger" (click)="delete(vehicle.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
